language: ruby
rvm:
- 2.7.1
sudo: false
script: bundle exec rake deploy
env:
  global:
    secure: hslkgCdGhr+/T5+Krmc7DEhpWXncc2uUALuXtA0Ty9k7uT6qas3/vGgMYU0gfEMt2rrJrr6qIRiTt30ZJFSp5mCNMRutuHvyQWxHpKLZBTVIiIofs1KtSaos0EJbL/l2PaYkSan5y591FgyOpY3ROmyp4jincni/T/0Djy6eR7h+RZ5KbqzTzQ2PzyGb0FO0MoOVbpG53dAt0UwvQepaGlmpzsrlXypNpMYqZpi6KCf2EHAutcvzY7VmuTI/QRZ1BzDI0J2bvd0vTrksHan567Q8Djg3iDJ19ExYYsrNutI0uxS3l9nFc1M9AI9vgmrfgoRn4AII9ayfsF+eVdVqKcCOyroozcqkfc1QjMU/v9MGEUt5hksnlxPAXp9PkrdlWohveB6NeS/9b1ot+IOYdwbchl9y3yuvZIdncEvGHM/DYkjbJZTLgeH0LaJpFrYOfKpgAlloK7lQQ8liKaLy5am2qOGioxStObHv/HXX7QpOEuxafNCoNhh8GGGra0tryKRg5FGClvHTlehAadGKYijtEMjogD040Hl7RqsqSW41+XSw9rMVS8hY2V3scRfnP+k0IejtzZicPO86uuL4WKtVPfL+DzTOk85cVuayc/+L0i0CprlljSeS1ftzzFbo7VNT84VKHcHQO8MXjQIwgOzAmUcvUSuSA6cJRmiSxA8=
