---
layout: default
title: Data Oriented Programming
---
<div class="home">
  <div>
    <p>
      Here are a few excerpts from my <a href="https://www.manning.com/books/data-oriented-programming?utm_source=viebel&utm_medium=affiliate&utm_campaign=book_sharvit2_data_1_29_21&a_aid=viebel&a_bid=d5b546b7">book</a> about Data-Oriented Programming. 
    </p>
    <p>
      Enter your email address below to get stay up to date with Data-Oriented Programming.
    </p>

    <form style="text-align: left;" action="https://tinyletter.com/data-oriented-programming" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/data-oriented-programming', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	    <input type="email" style="width:180px" name="email" id="tlemail" placeholder="Your email address"/>
	    <input type="hidden" value="1" name="embed"/>
	    <input style="padding-left:10px; font-size: larger; color: #5f7fbf; font-weight: bold;" type="submit" value="Subscribe" />
    </form>
  </div>
  <br>
  <ul class="post-list">
    {% assign posts = site.posts | sort: 'bookorder' %}
    {% for post in posts  %}
    {% if post.booktitle %}
    <li>
      <span class="post-meta">{{ post.booktitle }}</span>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>

