<div class="book-below">
  <div style="float: left; width: 50%;">
    <a href="https://www.manning.com/books/get-programming-with-clojure?a_aid=viebel&a_bid=399d9d64" style="text-decoration: none;">
      <div style="color:black; padding-left: 10px;">
	Learn more about Clojure.
	<div style="font-weight: bold;"> Start reading my book today! </div>
	By the time you finish your final capstone project, you’ll be designing Clojure functions, apps, and libraries like a pro!
      </div>
      </a>
    </div>
  <div style="float: left; width: 50%;">
    <a href="https://www.manning.com/books/get-programming-with-clojure?a_aid=viebel&a_bid=399d9d64" style="text-decoration: none;">
      <img src="/assets/get_programming_clojure.png">
    </a>
  </div>
  <div style="clear: both;">
  </div>
</div>
