<footer class="site-footer">
  <div class="wrapper" style="
    font-size: larger;
    color: #5f7fbf;
    font-family: fantasy;
    font-weight: bold;">
    <p> <span> {% include icon-twitter.html username=site.twitter_username_ys %} </span> to stay up-to-date with the coolest interactive articles around the world.</p>
    <p> Give KLIPSE a <span>
    <a class="github-button" href="https://github.com/viebel/klipse" data-count-href="/viebel/klipse/stargazers" data-count-api="/repos/viebel/klipse#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star viebel/klipse on GitHub">Star</a> </span>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script> to show your love for <em>Code Interactivity</em>. </p>
    <p> Feel free to email me {% include icon-email.html email=site.email_ys %} for getting practical tips and tricks in writing your first interactive blog post.</p>
  </div>
</footer>
