<header id="masthead" class="site-header">
    <div class="site-header-wrap">
        <div class="site-header-inside">

            <div class="site-branding">
                {% if site.logo != null %}
                <p class="site-logo"><a href="{{ site.baseurl }}/" rel="home"><img src="{{ site.baseurl }}/assets/images/{{ site.logo }}" alt="{{ site.name }}" /></a></p>
                <h1 class="site-title screen-reader-text"><a href="{{ site.baseurl }}" rel="home">{{site.title}}</a></h1>
                {% elsif site.author %}
                <p class="profile">
                    <a href="{{ site.baseurl }}/">
                        <img src="{{ site.baseurl }}/assets/images/{{ site.author.image }}" alt="{{ site.author.name }}'s Picture"
                            class="avatar" />
                    </a>
                </p>
                <div class="site-identity">
                    {% if site.name %}
                    <h1 class="site-title">
                        <a href="{{ site.baseurl }}/">{{site.name}}</a>
                    </h1>
                    {% endif %}
                    {% if site.description %}
                    <p class="site-description">{{site.description}}</p>
                    {% endif %}
                </div><!-- .site-identity -->
                {% endif %}
                <button id="menu-toggle" class="menu-toggle"><span class="screen-reader-text">Main Menu</span><span
                        class="icon-menu" aria-hidden="true"></span></button>
            </div><!-- .site-branding -->

            <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
                <div class="site-nav-wrap">
                    <div class="site-nav-inside">
                    <ul class="menu">
                        {% for link in site.navigation %}
                        {% assign current = nil %}
                        {% if page.url == link.url %}
                        {% assign current = 'current-menu-item' %}
                        {% endif %}
                        <li class="menu-item {{ current }}"><a href="{{ link.url }}">{{ link.text }}</a></li>
                        {% endfor %}
                    </ul>
                    {% include social-links.html %}
                    </div><!-- .site-nav-inside -->
                </div><!-- .site-nav-wrap -->
            </nav><!-- .site-navigation -->

        </div><!-- .site-header-inside -->
    </div><!-- .site-header-wrap -->
</header><!-- .site-header -->