
{% if page.local_klipse %}

<link rel="stylesheet" type="text/css" href="http://localhost:5014/css/codemirror.css">
{% else %}
<link rel="stylesheet" type="text/css" href="http://app.klipse.tech/css/codemirror.css">
{% endif %}
<script>
    window.klipse_settings = {
        codemirror_options_in: {
            lineWrapping: true,
            autoCloseBrackets: true
        },
        codemirror_options_out: {
            lineWrapping: true
        },
        beautify_strings: true,
        selector: '.language-klipse',
        selector_eval_js: '.language-klipse-eval-js',
        selector_eval_php: '.language-klipse-eval-php',
        selector_eval_markdown: '.language-klipse-markdown',
        selector_eval_lambdaway: '.language-klipse-lambdaway',
        selector_eval_python_client: '.language-klipse-python',
        selector_eval_html: '.language-klipse-html',
        selector_sql: '.language-klipse-sql',
        selector_eval_ruby: '.language-klipse-eval-ruby',
        selector_eval_scheme: '.language-klipse-scheme',
        selector_js: '.language-klipse-js'
    };

{% if page.klipse_no_beautify_strings %}
   window.klipse_settings.beautify_strings = false;
{% endif %}

{% if page.klipse_editor_type %}
   window.klipse_settings.editor_type = "{{ page.klipse_editor_type }}";
{% endif %}

{% if page.klipse_eval_idle_msec %}
   window.klipse_settings.eval_idle_msec =
{{ page.klipse_eval_idle_msec }};
{% endif %}

{% if page.klipse_line_numbers %}
   window.klipse_settings.codemirror_options_in.lineNumbers = true;
{% endif %}


</script>

{% if page.local_klipse %}
<script src="http://localhost:5014/plugin/js/klipse_plugin.js?"></script>
{% else %}
{% if page.minified_plugin  %}
<script src="http://app.klipse.tech/plugin_prod/js/klipse_plugin.min.js?v=3.9.0"></script>
<!-- <script src="http://localhost:5014/plugin_prod/js/klipse_plugin.min.js?"></script> -->
{% else %}
<script src="http://app.klipse.tech/plugin/js/klipse_plugin.js?v=3.9.0"></script>
<!-- <script src="http://localhost:5014/plugin/js/klipse_plugin.js?"></script> -->
{% endif %}
{% endif %}
