<link rel="stylesheet" type="text/css" href="http://app.klipse.tech/css/codemirror.css">

<script>
    window.klipse_settings = {
        codemirror_options_in: {
            lineWrapping: true,
            autoCloseBrackets: true
        },
        codemirror_options_out: {
            lineWrapping: true
        },
        selector: '.language-klipse',
        selector_eval_js: '.language-klipse-eval-js',
        selector_eval_php: '.language-klipse-eval-php',
        selector_eval_markdown: '.language-klipse-markdown',
        selector_eval_lambdaway: '.language-klipse-lambdaway',
        selector_eval_python_client: '.language-klipse-python',
        selector_eval_html: '.language-klipse-html',
        selector_eval_ruby: '.language-klipse-eval-ruby',
        selector_eval_scheme: '.language-klipse-scheme',
        selector_js: '.language-klipse-js'
    };
</script>
{% if page.all_languages %}
<script src="https://viebel.github.io/klipse/examples/lambdaway_eval.js"></script>
<script src="http://cdn.opalrb.org/opal/current/opal.min.js"></script>
<script src="http://cdn.opalrb.org/opal/current/opal-parser.min.js"></script>
<script src="https://asmblah.github.io/uniter/dist/uniter.js"></script>
<script src="http://www.skulpt.org/static/skulpt.min.js" type="text/javascript"></script>
<script src="http://www.skulpt.org/static/skulpt-stdlib.js" type="text/javascript"></script>
{% endif %}

{% if page.ruby  %}
<script src="http://cdn.opalrb.org/opal/current/opal.min.js"></script>
<script src="http://cdn.opalrb.org/opal/current/opal-parser.min.js"></script>
{% endif %}
{% if page.php  %}
<script src="https://asmblah.github.io/uniter/dist/uniter.js"></script>
{% endif %}
{% if page.scheme %}
<script src="http://www.biwascheme.org/release/biwascheme-0.6.5-min.js"></script>
{% endif %}
{% if page.minified_plugin  %}
<script src="http://app.klipse.tech/plugin_prod/js/klipse_plugin.min.js?v=2.12.1"></script>
{% else %}
<script src="http://app.klipse.tech/plugin/js/klipse_plugin.js?v=2.7.0"></script>
<!-- <script src="http://localhost:5014/plugin/js/klipse_plugin.js?"></script> -->
{% endif %}
