<section class="newsletter-box inner">
    <h2 class="newsletter-box-title">Subscribe to {{ site.name }} newsletter</h2>
    <p>Get the latest and greatest from {{ site.name }} delivered straight to your inbox every week.</p>
    <!-- Begin TinyLetter Signup Form -->
    <div id="tinyletter_embed_signup">
      <form class="validate gh-subscribe-form" action="{{ site.tinyletter_url }}" method="post" target="popupwindow" onsubmit="window.open('{{ site.tinyletter_url }}', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
	      <label for="tlemail" class="screen-reader-text">Email Address</label>
        <input type="email" value="" name="email" class="required email subscribe-email" placeholder="Your email address">
	      <input type="hidden" value="1" name="embed"/>
	      <input class="button" type="submit" value="Subscribe" />
      </form>
    </div>
    <!--End mc_embed_signup-->
</section><!-- .widget -->
