<p class="social-links">
    {% if site.twitter %}
    <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        {% include icons/twitter.html %}
    </a>
    {% endif %}
    {% if site.facebook %}
    <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank">
        {% include icons/facebook.html %}
    </a>
    {% endif %}
    {% if site.github %}
    <a href="https://github.com/{{ site.github }}" target="_blank">
        {% include icons/github.html %}
    </a>
    {% endif %}
    {% if site.codepen %}
    <a href="https://codepen.io/{{ site.codepen }}" target="_blank">
        {% include icons/codepen.html %}
    </a>
    {% endif %}
    {% if site.dribbble %}
    <a href="https://dribbble.com/{{ site.dribbble }}" target="_blank">
        {% include icons/dribbble.html %}
    </a>
    {% endif %}
    {% if site.medium %}
    <a href="https://medium.com/{{ site.medium }}" target="_blank">
        {% include icons/medium.html %}
    </a>
    {% endif %}
    {% if site.instagram %}
    <a href="https://www.instagram.com/{{ site.instagram }}" target="_blank">
        {% include icons/instagram.html %}
    </a>
    {% endif %}
    {% if site.pinterest %}
    <a href="https://www.pinterest.com/{{ site.pinterest }}" target="_blank">
        {% include icons/pinterest.html %}
    </a>
    {% endif %}
    {% if site.linkedin %}
    <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
        {% include icons/linkedin.html %}
    </a>
    {% endif %}
    {% if site.producthunt %}
    <a href="https://www.producthunt.com/{{ site.producthunt }}" target="_blank">
        {% include icons/product-hunt.html %}
    </a>
    {% endif %}
    {% if site.quora %}
    <a href="https://www.quora.com/profile/{{ site.quora }}" target="_blank">
        {% include icons/quora.html %}
    </a>
    {% endif %}
</p>