.klipse-result table{
margin: 10px auto 0px auto;
}

.klipse-result table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
}
.klipse-result table {
       border: 1px solid black;
}

.klipse-result  table
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    color: #039;
}
.klipse-result table
{
    padding: 8px;
    background: #e8edff; 
    color: #669;
}
.klipse-result tr:hover td
{
    background: #d0dafd;
    color: #339;
}


