.hidden {
    display: none;
}

.klipse-result table{
margin: 10px auto 0px auto;
}
.klipse-result strong {
    color: red;
}

.klipse-result table
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    text-align: left;
}
.klipse-result table {
       border: 1px solid black;
}

.klipse-result  table
{
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe;
    color: #039;
}
.klipse-result table
{
    padding: 8px;
    background: #e8edff; 
    color: #669;
}
.klipse-result tr:hover td
{
    background: #d0dafd;
    color: #339;
}

.react-container:before {
    content: "**** Rendered Component ****";
    font-weight: bold;
    font-family: monospace;
}

.react-container {
    background-color: #f7ebc6;
    border-left: 5px solid #f7d87c;
    display: block;
    margin-left: -14px;
    margin-right: -14px;
    padding-left: 9px;
    padding-bottom: 10px;
    margin-bottom: 30px;

}
